<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	
  	<!-- 언더바(스네이크형식)를 낙타표기(카멜) -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
  
  	<typeAliases>
		<typeAlias type="kr.ac.kopo.user.web.UserVO" alias="UserVO"/>
		<typeAlias type="kr.ac.kopo.partner.web.PartnerVO" alias="PartnerVO"/>
  		<typeAlias type="kr.ac.kopo.user.web.ProUsersVO" alias="ProUsersVO"/>
  		<typeAlias type="kr.ac.kopo.note.web.NoteVO" alias="NoteVO"/>
  		<typeAlias type="kr.ac.kopo.item.web.ItemVO" alias="ItemVO"/>
  		<!-- <typeAlias type="kr.ac.kopo.list.web.ViewListVO" alias="ViewListVO"/> -->
 		<typeAlias type="kr.ac.kopo.fake.web.FakeVO" alias="FakeVO"/> 
 		<typeAlias type="kr.ac.kopo.file.web.FileVO" alias="FileVO"/> 
  	</typeAliases>
  
  	<mappers>
  		<mapper resource="mybatis/user.xml"/>
  		<mapper resource="mybatis/partner.xml"/> 
  		<mapper resource="mybatis/pro.xml"/>
  		<mapper resource="mybatis/login.xml"/>
  		<mapper resource="mybatis/note.xml"/>
  		<mapper resource="mybatis/item.xml"/>
  		<mapper resource="mybatis/list.xml"/>
  		<mapper resource="mybatis/fake.xml"/>
  		<mapper resource="mybatis/file.xml"/>
  	</mappers>
  </configuration>