/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 13px;
    padding: 0 8px;
  }
  #main-slide .carousel-caption {
    top: 20%;
  }
  #main-slide .carousel-item .carousel-caption h4 {
    margin-bottom: 10px;
    font-size: 14px;
  }
  #main-slide .carousel-item .carousel-caption .heading {
    font-size: 20px;
    margin-bottom: 0;
  }
  #main-slide .carousel-item .carousel-caption p {
    font-size: 14px;
  }
  #main-slide .carousel-caption .btn {
    margin-top: 0;
  }
  .counter-section .counter p {
    font-size: 14px;
  }
  .footer-area .address li a {
    font-size: 13px;
  }
  .footer-area .footer-titel {
    font-size: 15px;
  }
  .property-details .others ul li {
    margin-left: 10px;
  }
  .property-details .others ul li span {
    font-size: 26px;
    line-height: 44px;
  }
  .item-body .property-title a {
    font-size: 14px;
  }
  .featured-bg .featured-item h3 {
    font-size: 14px;
  }
  .services-item .services-content h3 {
    font-size: 16px;
  }
  .blog-item .descr h3 a {
    font-size: 16px;
  }
  .property-details .info h3 {
    font-size: 22px;
  }
}

/* tablets */
@media (max-width: 991px) {
  .irs-with-grid {
    margin-bottom: 30px;
  }
  #main-slide .carousel-caption {
    top: 15%;
  }
  #main-slide .carousel-item .carousel-caption h4 {
    margin-bottom: 10px;
    font-size: 14px;
  }
  #main-slide .carousel-item .carousel-caption .heading {
    font-size: 20px;
    margin-bottom: 0;
  }
  #main-slide .carousel-item .carousel-caption p {
    font-size: 14px;
  }
  #main-slide .carousel-caption .btn {
    margin-top: 0;
  }
  .page-title-section {
    padding: 40px 0;
  }
  .section-titile-bg {
    display: none;
  }
  .section-title {
    position: relative;
    margin-bottom: 10px;
  }
  .featured-bg .featured-item h3 {
    font-size: 14px;
  }
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .top-bar .links li {
    margin-right: 5px;
    font-size: 12px;
  }
  .search-container {
    padding: 60px 0 60px;
  }
  .roof-social {
    display: none;
  }
  .header-top-right .header-top-button {
    font-size: 12px;
  }
  .irs-with-grid {
    margin-bottom: 30px;
  }
  #clients-logo .client-logo {
    margin-bottom: 30px;
  }
  #main-slide .carousel-caption {
    top: 15%;
  }
  #main-slide .carousel-item .carousel-caption h4 {
    margin-bottom: 10px;
    font-size: 14px;
  }
  #main-slide .carousel-item .carousel-caption .heading {
    font-size: 20px;
    margin-bottom: 0;
  }
  #main-slide .carousel-item .carousel-caption p {
    font-size: 14px;
  }
  #main-slide .carousel-caption .btn {
    margin-top: 0;
  }
  .carousel-indicators {
    display: none;
  }
  .featured-bg .intro-title {
    margin-top: 30px;
  }
  .team-item {
    margin-bottom: 30px;
  }
  .blog-item {
    margin-bottom: 30px;
  }
  .footer-area .footer-titel {
    margin-top: 20px;
  }
  .sidebar.right {
    margin-top: 40px;
  }
  .property-details .others {
    float: left;
  }
  .item-body .property-title a {
    font-size: 15px;
  }
  .property-details .others ul li {
    margin-right: 20px;
    margin-left: 0;
  }
  .pagination-container .pagination .page-item .page-link {
    padding: .5rem .75rem;
  }
  .pagination-container .pagination .btn {
    padding: 7px 9px;
  }
  .dashborad-box .item .icon {
    display: none;
  }
}

/* only tablets */
@media (max-width: 640px) {
  .controls .btn {
    padding: 12px 18px;
  }
  .team-item {
    margin-bottom: 30px;
  }
  .btn-section .btn-common {
    margin-bottom: 30px;
  }
}

/* mobile or only mobile */
@media (max-width: 767px) {
  .section-title {
    font-size: 26px;
  }
  .section-sub {
    font-size: 16px;
  }
  .sidebar-title {
    font-size: 15px;
  }
  .top-bar .links li {
    display: none;
  }
  .header-top-right .header-top-button {
    margin: 2px;
  }
  .roof-social a i {
    min-width: 36px;
  }
  .search-container {
    padding: 60px 0 60px;
  }
  .search-container .intro-sub-heading {
    font-size: 15px;
  }
  .search-container .intro-title {
    font-size: 18px;
    line-height: 40px;
  }
  .irs-with-grid {
    margin-bottom: 30px;
  }
  #main-slide .carousel-caption {
    top: 2%;
  }
  .carousel-indicators {
    display: none;
  }
  #main-slide .carousel-item .carousel-caption .heading {
    font-size: 14px;
  }
  #main-slide .carousel-item .carousel-caption h4 {
    font-size: 10px;
    margin-bottom: 0;
  }
  #main-slide .carousel-item .carousel-caption p {
    font-size: 13px;
  }
  #main-slide .carousel-item .carousel-caption .heading {
    margin-bottom: 20px;
  }
  #hero-area .contents {
    padding: 100px 0;
  }
  #hero-area .contents .head-title {
    font-size: 15px;
  }
  #hero-area .contents .btn {
    margin: 25px 3px 0 0;
  }
  .item-body .property-title a {
    font-size: 16px;
  }
  .item-body .adderess {
    font-size: 13px;
  }
  .item-body .property-title a {
    font-size: 15px;
  }
  .featured-bg .intro-title {
    margin-top: 30px;
  }
  .featured-bg .title-sub {
    font-size: 16px;
    line-height: 26px;
  }
  .services-item .services-content h3 {
    font-size: 15px;
  }
  .team-item {
    margin-bottom: 30px;
  }
  #clients-logo .client-logo {
    margin-bottom: 30px;
  }
  .blog-item {
    margin-bottom: 30px;
  }
  .footer-area .footer-titel {
    margin-top: 20px;
  }
  .product-filter .sort-by .sort-by-select {
    display: none;
  }
  .grid-layout .property-main {
    width: 97%;
  }
  .list-layout .property-main .item-thumb {
    width: 100%;
    float: none;
  }
  .list-layout .property-main .item-body {
    padding: 15px;
  }
  .property-details .info h3 {
    font-size: 18px;
  }
  .property-details .info .room-type {
    margin-bottom: 10px;
  }
  .property-details .details .details-listing p {
    font-size: 12px;
  }
  .property-details .others {
    float: left;
  }
  .property-details .others ul li {
    margin-left: 0;
    margin-right: 15px;
  }
  .property-details .others ul li span {
    font-size: 18px;
  }
  .blog-post .content {
    padding: 20px 15px;
  }
  .blog-post .content h2 {
    font-size: 18px;
  }
  .sidebar.right {
    padding-left: 0;
    margin-top: 30px;
  }
  #comments .comments-list li ul {
    padding-left: 0;
  }
  .author .thumb {
    float: none;
  }
  .author .body {
    width: 100%;
    margin-top: 30px;
  }
  #comments .comments-list .media {
    display: inline-block;
  }
  #comments .comments-list .media .thumb-left {
    float: none;
  }
  #comments .comments-list .media .thumb-left img {
    width: 40%;
  }
  #comments .comments-list .media .info-body {
    margin-left: 0;
    margin-top: 30px;
  }
  .contact-right-area {
    margin-bottom: 30px;
  }
  .page-banner .page-banner-title h2 {
    font-size: 18px;
  }
  .btn-section .btn-common {
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #main-slide .carousel-item .carousel-caption .heading {
    letter-spacing: 0;
  }
  #main-slide .carousel-item .carousel-caption p {
    display: none;
  }
  #main-slide .carousel-caption .btn {
    margin: 0;
    padding: 7px 9px;
    font-size: 12px;
    text-transform: capitalize;
  }
  #main-slide .carousel-caption {
    top: -6%;
  }
  #main-slide .carousel-item .carousel-caption .heading {
    margin-bottom: 0px;
  }
  #main-slide .carousel-control i {
    line-height: 26px;
    font-size: 14px;
    width: 30px;
    height: 30px;
  }
  .controls .btn {
    padding: 7px 8px;
    text-transform: capitalize;
    font-size: 11px;
  }
  .client-info .info-text h2 {
    font-size: 14px;
  }
  .listing-content .listing-content {
    padding: 5px;
  }
  .btn {
    padding: 8px 10px;
    font-size: 12px;
  }
  .btn-section .btn-common {
    margin-bottom: 30px;
  }
}
